<a class="al-show-actions-collection-info btn btn-default btn-sm dropdown-toggle ml-2" href="#" role="button" id="collection-info-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="<%= t('ua_arclight.views.show.sidebar.collection_info_icon_label') %>">
  <i class="fa fa-info-circle"></i>
</a>
<div class="dropdown-menu collection-info-menu" aria-labelledby="collection-info-link">
  <div class="dropdown-item-text">
    <table class="table table-sm table-borderless collection-info-table">
      <tbody>
        <% if document.unitid.present? %>
          <tr>
            <td>Collection ID</td>
            <td><%= document.eadid %></td>
          </tr>
        <% end %>

        <tr>
          <td>Total components</td>
          <td><%= number_with_delimiter(document.total_component_count) %></td>
        </tr>

        <% if document.total_digital_object_count.positive? %>
          <tr>
            <td>Items available online</td>
            <td>
              <span data-toggle="tooltip" title="<%= t('dul_arclight.tooltips.online') %>">
                <%= blacklight_icon :online, classes: 'al-online-content-icon' %>
              </span>
              <%= link_to number_with_delimiter(document.total_digital_object_count),
                    search_action_path(f: { collection_sim: [document.collection_name],
                                        has_online_content_ssim: ["online"] }),
                    aria: { label: 'limit to components with online access' },
                    data: { ga_label: 'filter to online access' } %>
            </td>
          </tr>
        <% end %>

          <tr>
            <td>Last indexed</td>
            <td><%= formatted_last_indexed(document.last_indexed) %></td>
          </tr>

      </tbody>
    </table>
  </div>
</div>
