<div class="al-repository">
  <div class="container">
    <div class='row'>
      <div class='col-sm-4 offset-sm-4 col-md-6 offset-md-3 col-lg-4 offset-lg-0 al-repository-thumbnail hidden-md-down'>
      <%= link_to_unless(params[:id] == repository.slug, image_tag(repository.thumbnail_url, alt: repository.name, class: 'img-fluid'), arclight_engine.repository_path(repository.slug)) %>
      
      </div>

      <div class="col-sm-12 col-lg-8 al-repository-information">
        
        <div class='row no-gutters justify-content-md-center'>
            
          <!--<div class='col-4 col-md-3 al-repository-contact'>
            <address>
              <div class="al-repository-street-address">
                <% %i[building address1 address2 city_state_zip_country].each do |f| %>
                  <% if repository.send(f).present? %>
                    <div class='al-repository-street-address-<%= f %>'>
                      <%= repository.send(f) %>
                    </div>
                  <% end %>
                <% end %>
             </div>

              <div class="al-repository-contact-info">
                <% if repository.phone.present? %>
                  <div class='al-repository-contact-info-phone'>
                    <%= repository.phone %>
                  </div>
                <% end %>
                <% if repository.contact_info.present? %>
                  <div class='al-repository-contact-info-contact_info'>
                    <% if repository.contact_info.include?('@') %>
                      <%= mail_to repository.contact_info %>
                    <% else %>
                      <%= repository.contact_info %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </address>
          </div>-->
       
          <div class="col al-repository-description" title="<%= repository.description %>">
            <h2>
              <!-- replaced arclight A-Z lists with static pages -->
              <%# link_to_unless(params[:id] == repository.slug, repository.name, arclight_engine.repository_path(repository.slug)) %>
              <% if repository.slug == "ua" %>
                <%= link_to_unless(params[:id] == repository.slug, repository.name, "https://library.albany.edu/archive/ua") %>
              <% elsif repository.slug == "ndpa" %>
                <%= link_to_unless(params[:id] == repository.slug, repository.name, "https://archives.albany.edu/static/91.html") %>
              <% else %>
                <%= link_to_unless(params[:id] == repository.slug, repository.name, "https://archives.albany.edu/static/" + repository.slug + ".html") %>
              <% end %>
            </h2>
            <h6><%= repository.tagline %></h6>
            
              <div data-arclight-truncate="true">
                <%= repository.description %>
              </div>
           
          </div>

          <% if on_repositories_index? %>
            <div class='col col-lg-2 col-sm-12 col-12 al-repository-extra hidden-md-down'>
            <%= link_to(t(:'arclight.views.repositories.view_more'), arclight_engine.repository_path(repository.slug), class: 'btn btn-primary') %>
            <div class='al-repository-extra-collection-count'>
                <span class="al-repository-collection-count">
                  <%= t(:'arclight.views.repositories.number_of_collections', count: repository.collection_count) %>
                </span>
               </div>

         
                 </div>
          <% end %>
     
        </div>
      </div>
    </div>
  </div>
</div>
