<% officesURI = URI.join(request.base_url, "description") %>
<% taskForcesURI = URI.join(request.base_url, "description") %>
<% communicationsURI = URI.join(request.base_url, "description") %>
<% financeURI = URI.join(request.base_url, "description") %>
<% studentAffairsURI = URI.join(request.base_url, "description") %>
<% developmentURI = URI.join(request.base_url, "description") %>
<% academicAdminURI = URI.join(request.base_url, "description") %>
<% schoolsURI = URI.join(request.base_url, "description") %>
<% departmentsURI = URI.join(request.base_url, "description") %>
<% centersURI = URI.join(request.base_url, "description") %>
<% studentsURI = URI.join(request.base_url, "description") %>
<% facultyURI = URI.join(request.base_url, "description") %>
<% referenceURI = URI.join(request.base_url, "description") %>

<% officesFacet = Hash.new %>
<% taskForcesFacet = Hash.new %>
<% communicationsFacet = Hash.new %>
<% financeFacet = Hash.new %>
<% studentAffairsFacet = Hash.new %>
<% developmentFacet = Hash.new %>
<% academicAdminFacet = Hash.new %>
<% schoolsFacet = Hash.new %>
<% departmentsFacet = Hash.new %>
<% centersFacet = Hash.new %>
<% studentsFacet = Hash.new %>
<% facultyFacet = Hash.new %>
<% referenceFacet = Hash.new %>

<% officesFacet["f"] = {"access_subjects_ssim": ["UAlbany+Presidential+Offices"]} %>
<% officesURI.query = officesFacet.to_query %>
<% taskForcesFacet["f"] = {"access_subjects_ssim": ["UAlbany+Task+Forces+%26+Committees"]} %>
<% taskForcesURI.query = taskForcesFacet.to_query %>
<% communicationsFacet["f"] = {"access_subjects_ssim": ["UAlbany+Communications+%26+Marketing"]} %>
<% communicationsURI.query = communicationsFacet.to_query %>
<% financeFacet["f"] = {"access_subjects_ssim": ["UAlbany+Finance+%26+Business"]} %>
<% financeURI.query = financeFacet.to_query %>
<% studentAffairsFacet["f"] = {"access_subjects_ssim": ["UAlbany+Student+Affairs"]} %>
<% studentAffairsURI.query = studentAffairsFacet.to_query %>
<% developmentFacet["f"] = {"access_subjects_ssim": ["UAlbany+University+Development"]} %>
<% developmentURI.query = developmentFacet.to_query %>
<% academicAdminFacet["f"] = {"access_subjects_ssim": ["UAlbany+Academic+Administration"]} %>
<% academicAdminURI.query = academicAdminFacet.to_query %>
<% schoolsFacet["f"] = {"access_subjects_ssim": ["UAlbany+Schools+%26+Colleges"]} %>
<% schoolsURI.query = schoolsFacet.to_query %>
<% departmentsFacet["f"] = {"access_subjects_ssim": ["UAlbany+Academic+Departments"]} %>
<% departmentsURI.query = departmentsFacet.to_query %>
<% centersFacet["f"] = {"access_subjects_ssim": ["UAlbany+Centers+%26+Institutes"]} %>
<% centersURI.query = centersFacet.to_query %>
<% studentsFacet["f"] = {"access_subjects_ssim": ["UAlbany+Student+Groups"]} %>
<% studentsURI.query = studentsFacet.to_query %>
<% facultyFacet["f"] = {"access_subjects_ssim": ["UAlbany+Faculty+%26+Alumni Papers"]} %>
<% facultyURI.query = facultyFacet.to_query %>
<% referenceFacet["f"] = {"access_subjects_ssim": ["UAlbany+Reference+Collections"]} %>
<% referenceURI.query = referenceFacet.to_query %>

<ul class="ua_browse_list">
	<div class="category"><li>University Leadership</li></div>
	<ul>
		<li><%= link_to "Office of the President", solr_document_path("ua000") %></li>
		<li><%= link_to "University Council", solr_document_path("ua100") %></li>
		<li><%= link_to "University Senate", solr_document_path("ua200") %></li>
		<li><%= link_to "Presidential Offices", CGI::unescape(officesURI.to_s) %></li>
		<li><%= link_to "Task Forces & Committees", CGI::unescape(taskForcesURI.to_s) %></li>
	</ul>
	
	<div class="category"><li>Administative Units</li></div>
	<ul>
		<li><%= link_to "Athletics", solr_document_path("ua746") %></li>
		<li><%= link_to "Communications & Marketing", CGI::unescape(communicationsURI.to_s) %></li>
		<li><%= link_to "Diversity & Inclusion", solr_document_path("ua370") %></li>
		<li><%= link_to "Finance & Business", CGI::unescape(financeURI.to_s) %></li>
		<li><%= link_to "Information Systems and Technology", solr_document_path("ua535") %></li>
		<li><%= link_to "Student Affairs", CGI::unescape(studentAffairsURI.to_s) %></li>
		<li><%= link_to "University Foundation, Alumni, and Fundraising", CGI::unescape(developmentURI.to_s) %></li>
	</ul>
	
	<div class="category"><li>Academic Affairs</li></div>
	<ul>
		<li><%= link_to "Office of the Provost", solr_document_path("ua500") %></li>
		<li><%= link_to "Academic Administation", CGI::unescape(academicAdminURI.to_s) %></li>
		<li><%= link_to "Schools & Colleges", CGI::unescape(schoolsURI.to_s) %></li>
		<li><%= link_to "Academic Departments", CGI::unescape(departmentsURI.to_s) %></li>
	</ul>
	
	<div class="category"><li><%= link_to "Centers & Institutes", CGI::unescape(centersURI.to_s) %></li></div>
	<div class="category"><li><%= link_to "Student Groups", CGI::unescape(studentsURI.to_s) %></li></div>
	<div class="category"><li><%= link_to "Faculty & Alumni Papers", CGI::unescape(facultyURI.to_s) %></li></div>
	<div class="category"><li><%= link_to "Reference Collections", CGI::unescape(referenceURI.to_s) %></li></div>
	<div class="category"><li><%= link_to "Web Archives", "https://archives.albany.edu/web/webarchives" %></li></div>
	
</ul>
