<% @page_title = t(:'arclight.views.repositories.show', name: @repository.name) %>
<% breadcrumb :repository, @repository %>
<%= render 'shared/breadcrumbs' %>
<%= render @repository %>



<% content_for(:sidebar) do %>
 <div class="row alpha-menu sticky-top">
    <% unless @repository.slug == "ua" or @repository.slug == "sub" %>
      <div class="col-md-12">
        <section class="sidebar-scroll-wrapper">
          <ul class="list-group">
            <a href="#" class="list-group-item list-group-item-action"><%= @repository.name %></a>
            <% @alpha_collections.keys.each do |letter| %>
              <a href="#<%= letter %>" class="list-group-item list-group-item-action"><%= letter %></a>
            <% end %>
          </ul>
        </section>
      <div>
    <% end %>
  </div>
<% end %>



<div class="row">
  <div id="documents" class="col-md-8 <%= 'full-collections' unless @repository.slug == 'ua' || @repository.slug == 'sub' %>">

  <div class="card">
	<div class="card-body">
	   <h2 class="h4"> <%= @repository.name %> Collections </h2>

	<% if @repository.slug == "ua" %>
		<%= render partial: 'university_archives' %>
  <% elsif @repository.slug == "sub" %>
    <%= render partial: 'subjects' %>
	<% else %>
    
    <% @alpha_collections.keys.each do |letter| %>
      <div id="<%= letter %>" class="col-md-12">
        <% @alpha_collections[letter].each do |document| %>
          <article class='al-document-title-bar document'>
            <div class='row'>
              <div class='col-md-12'>
                <h3 class="h5">
                  <%= blacklight_icon :collection, classes: 'al-repository-content-icon' %>
                  <%= link_to document._source["title_filing_ssi"], solr_document_path(document.id) %>
                <small><%= document.normalized_date %></small></h3>
                <% unless @repository.slug == "all" %>
                  <%= content_tag('div', class: 'al-document-abstract-or-scope') do %>
                    <%= content_tag('div', 'data-arclight-truncate' => true) do %>
                      <%= strip_tags(document.abstract_or_scope) %>
                    <% end %>
                  <% end if document.abstract_or_scope %>
                <% end %>
              </div>
            </div>
          </article>
        <% end %>
      </div>
    <% end %>
	 <% end %>	

        </div>
    </div>
  </div>

  <div class="col-md-12 col-lg-4 last_updated">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Last Updated</h5>
        <% @last_collections.each do |document| %>
          <div class="col-md-12">
            <div class='al-document-title-bar'>
              <div class='row'>
                <article class='document updated_collection col-md-12'>
                  <h3 class="h5"><%= blacklight_icon :collection, classes: 'al-repository-content-icon' %> <%= link_to document.normalized_title, solr_document_path(document.id) %></h3>
                  <%= content_tag('div', class: 'al-document-abstract-or-scope') do %>
                    <%= content_tag('div', 'data-arclight-truncate' => true) do %>
                      <%= strip_tags(document.abstract_or_scope) %>
                    <% end %>
                  <% end if document.abstract_or_scope %>
                </article>
              </div>
            </div>
          </div>
        <% end %>
        <div class="col text-right all-link">
        <span class="al-repository-collections">
          <%= link_to(t(:'arclight.views.repositories.view_all_collections'), repository_collections_path(@repository), class: "card-link") %>
        </span>
      </div>
      </div>
    </div>
  </div>
</div>
