<nav id="manifest-nav" class="navbar navbar-inverse navbar-top navbar-expand-md navbar-dark bg-dark topbar" role="navigation">
  <div class="container navbar-header">

    <div class="navbar-brand2">
        <a class="logo" data-toggle="tooltip" title="Archives Home" href="http://169.226.92.29/repositories">
          <img src="http://library.albany.edu/speccoll/findaids/eresources/static/icons/ua/mainLogo.png" />
        </a><a data-toggle="tooltip" title="UAlbany Libraries" class="ualbany" href="http://169.226.92.29/repositories">
        <img src="http://library.albany.edu/speccoll/findaids/eresources/static/icons/ua/ualbany.png" />
      </a>
      <a class="smallLogo"  data-toggle="tooltip" title="Archives Home" href="http://169.226.92.29/repositories"><img src="http://library.albany.edu/speccoll/findaids/eresources/static/icons/ua/mainLogo.png"></img></a>
    </div>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="user-util-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    


  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav" id="topNavMenu">

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Collections <span class="caret"/>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="http://169.226.92.29/repositories/apap">NY State Modern Political Archive</a>
          </li>
          <li>
            <a href="http://169.226.92.29/repositories/ndpa">National Death Penalty Archive</a>
          </li>
          <li>
            <a href="http://169.226.92.29/repositories/ger">German Intellectual Émigré</a>
          </li>
          <li>
            <a href="http://169.226.92.29/repositories/ua">University Archives</a>
          </li>
          <li>
            <a href="http://169.226.92.29/repositories/mss">Business and Literary Manuscripts</a>
          </li>
        </ul>
      </li>
      
      <!--<li>
        <a href="http://library.albany.edu/archive/reference">Contact</a>
      </li>-->

      <div id="searchBox" class="float-right">
       <%= render_search_bar %>
      </div>

      <!--<div class="col-sm-3 col-md-3 pull-right" id="searchBox">
        <form class="navbar-form" role="search" action="http://meg.library.albany.edu:8080/archive/search">
          <div class="input-append btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Search Options" aria-haspopup="true" aria-expanded="false">
              <span class="caret" data-toggle="tooltip" title="Search Options"/>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a id="searchCollections" data-toggle="tooltip" title="Search Archival Collections">
                  <span class="glyphicon glyphicon-ok"></span> Collections</a>
                </li>
                <li>
                  <a id="searchPhotos" data-toggle="tooltip" title="Search Online Digital Content">
                    <span class="glyphicon glyphicon-none"></span> Digital Selections <span class="glyphicon glyphicon-new-window"></span>
                  </a>
                </li>
                <li>
                  <a id="searchBooks" data-toggle="tooltip" title="Search Rare Books">
                    <span class="glyphicon glyphicon-none"></span> Rare Books <span class="glyphicon glyphicon-new-window"></span>
                  </a>
                </li>
                <li>
                  <a id="searchMathes" data-toggle="tooltip" title="Search Children's Literature Collection">
                    <span class="glyphicon glyphicon-none"></span> Mathes Children's Literature <span class="glyphicon glyphicon-new-window"></span>
                  </a>
                </li>
                <li>
                  <a id="searchAsp" data-toggle="tooltip" title="Search the Student Newspaper">
                    <span class="glyphicon glyphicon-none"></span> Student Newspaper <span class="glyphicon glyphicon-new-window"></span>
                  </a>
                </li>
                <li>
                  <a id="searchWebArch" data-toggle="tooltip" title="Search Web Archives">
                    <span class="glyphicon glyphicon-none"></span> Web Archives</a>
                  </li>
                </ul>
                <input type="text" class="form-control" placeholder="Collections" name="keyword"></input>
                <input type="hidden" name="browse-all" value="yes"> 
                <span class="input-group-addon">
                  <button type="submit">
                    <span class="glyphicon glyphicon-search"/>
                  </button>
                </span>
              </div>
            </form>
          </div>-->
        </ul>
      </div>
    </div>
  </nav>



<!--<nav class="navbar navbar-expand-md navbar-dark bg-dark topbar" role="navigation">
  <div class="<%= container_classes %>">
    <%= link_to application_name, root_path, class: "navbar-brand" %>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#user-util-collapse" aria-controls="user-util-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    

    <div class="collapse navbar-collapse justify-content-md-end" id="user-util-collapse">
      <%= render 'shared/user_util_links' %>
    </div>
  </div>
</nav>-->

<% if controller_name == 'catalog' && !has_search_parameters? && action_name == 'index' %>
  <div class='al-homepage-masthead jumbotron'>
    <div class='d-flex justify-content-center'>
      <h1 class='text-center'><%= t('arclight.masthead_heading') %></h1>
    </div>
    <!--<div class='row justify-content-md-center'>
      <div class='col-md-6 col-sm-12'>
        <div class='navbar-search'>
         <%= render_search_bar  %>
        </div>
      </div>
    </div>-->
    <nav class="navbar justify-content-center" role="navigation">
      <ul class="nav">
        <%= render 'shared/main_menu_links' %>
      </ul>
    </nav>
  </div>
<% else %>
  <!--<div class='bg-faded al-masthead'>
    <div class="container">
      <h1><%= t('arclight.masthead_heading') %></h1>
    </div>
  </div>
  <div class="navbar-search navbar navbar-expand-sm bg-faded" role="navigation">
    <div class="<%= container_classes %>">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <%= render 'shared/main_menu_links' %>
        </ul>
        <%= render_search_bar  %>
      </div>
    </div>
  </div>-->
<% end %>
