
<% if 1 == 2 %>
  <% if has_user_authentication_provider? %>
    <% if current_user %>
      
    <% unless current_user.to_s.blank? -%>
      <%= link_to current_user, edit_user_registration_path, class: 'btn btn-primary dropdown-toggle', data: { toggle: 'dropdown'} %>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path, class: 'dropdown-item' %>
      </div>
    <% else %>
      <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path, class: 'btn btn-primary' %>
    <% end %>
    <% else %>
      <%= link_to t('blacklight.header_links.login'), new_user_session_path, class: 'btn btn-primary' %>
    <% end %>
  <% end %>
<% end %>

<% if @document %>
  <a href="https://archives.albany.edu/static/pdf/<%=@document.eadid%>.pdf" class="btn btn-light"><i class="fa fa-file-pdf-o"></i> Finding Aid</a>
<% end %>

<%= render_nav_actions do |config, action|%>
  <%= action %>
<% end %>

