<div class="row access-options">

<div class="col-sm-6 col-xl-4 mb-4 mb-sm-0">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Schedule a Visit</h5>
    <p class="card-text">Archival materials can be viewed in-person in our reading room. <!-- Making an appointment is not neccessary, but it may help us ensure the items are available when you arrive.--></p>
    <div class="alert alert-danger">
		Reading room access is now by appointment only due to the COVID-19 crisis. <a href="https://archives.albany.edu/web/covid-19/">More Details</a>
	</div>
    <a href="<%= request.base_url %>/web/reference?visit&list=<%= request.original_url %>" class="btn btn-info"><i class="fa fa-university" aria-hidden="true"></i> Schedule a Visit</a>
    <a href="<%= request.base_url %>/web/directions/" class="card-link pull-right">Hours</a>
  </div>
</div>
</div>


<% unless document.children? or document.level == "collection" %>

	<div class="col-sm-6 col-xl-4">
	<div class="card">
	  <div class="card-body">
	    <h5 class="card-title">Make a Remote Request</h5>
	    <p class="card-text">We may also be able to deliver digital scans remotely for a fee.</p>
	    <a href="<%= request.base_url %>/web/reference?list=<%= request.original_url %>&eadid=<%= document.id %>&containers=<%= document._source['containers_ssim'] %>&title=<%= document.normalized_title.to_param %>" class="btn btn-info"><i class="fa fa-archive" aria-hidden="true"></i> Request</a>
	    <a href="<%= request.base_url %>/web/reproductions" class="card-link pull-right">Fees</a>
	  </div>
	</div>
	</div>

<% end %>

</div>
