<% document_actions = capture do %>
  <% # bookmark functions for items/docs -%>
  <%= render_show_doc_actions document %>
<% end %>

<div class='al-document-title-bar show-header'>
  <div class='row'>
    <div class='col-12 col-sm-12'>
      <% if document.unitid and document.level %>
        <%= document.level.titlecase %>
        <%= document.unitid %>,
      <% end %>
      <%= document.collection_name %>
    </div>
   <!-- <div class='col-5 col-sm-3 text-right'>
      <%= document_actions %>
    </div>-->
  </div>

</div>

<% # make it look like a document if it has no children -%>

<% if document.children? %>

  <div class='document_icon_container'>
    <i class="fa fa-folder-open fa-2x"></i>
  </div>

<% else %>

  <div class='document_icon_container'>
    <i class="fa fa-file fa-2x"></i>
  </div>

<% end %>

<div class='document_actions_container'>
      <div class='bookmark_container'>
        <%= document_actions %>
      </div>

      <% requestable = item_requestable?('', { document: document }) %>
        <% if requestable %>
            <div class='request_this_item'>
              <% # this is copied from the google form partial, it wouldn't load the partial... -%>
              <% document ||= @document %>
              <% google_form ||= Arclight::Requests::GoogleForm.new(document, show_presenter(document), solr_document_path(document)) %>
              
              
              <button type='submit' class='al-request-button btn btn-info' data-toggle="modal" data-target="#request">
                  <i class="fa fa-arrow-circle-right"></i>
                  <%= t('arclight.request.container') %>
              </button>
            </div>
        
        <% end %>
</div>
