<% document ||= @document %>

<% if document.id.include? "aspace_" %>
    <% @searchID = document.id.split("aspace_")[1] %>
    <% @facet_field = "archivesspace_record_tesim" %>
<% else %>
    <% @searchID = document.id %>
    <% @facet_field = "collection_number_tesim" %>
<% end %>

<div class="hyraxDaoDisplay">

<div class="page-links">
    <span class="page-entries"></span> | 
    <a id="hyraxURI" href="https://archives.albany.edu/catalog?utf8=✓&f[<%= @facet_field %>][]=<%= @searchID %>">All Items »</a>
    
</div>
<div class="daoGallery text-center" id="<%= @searchID %>">
    <% document.digital_objects.each do |dao| %>
        <% if dao.href.include? "/avs/" %>
            <% @icon = "fa fa-film" %>
        <% elsif dao.href.include? "/images/" %>
            <% @icon = "fa fa-picture-o" %>
        <% else %>
            <% @icon = "fa fa-file-o fa-5x" %>
        <% end %>
        
        <div class="img-thumbnail">
            <a href="<%= dao.href %>">
                <i class="<%= @icon %> fa-5x placeholder"></i>
                <img src="" alt="<%= dao.label %>" class="daoThumbnail" style="display: none;">
            </a>
            <p class="caption">
              <a href="<%= dao.href %>"><%= dao.label %></a>
            </p>
        </div>

    <% end %>
    
    <div class="card">
      <div class="card-header" role="tab">
        <h5 class="mb-0">Search Online Content</h5>
      </div>
      <div class='card-body'>
        <form class="search-query-form" role="search" action="https://archives.albany.edu/catalog" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
            <input type="hidden" name="f[<%= @facet_field %>][]" value="<%= @searchID %>" />
            <input type="hidden" name="search_field" id="search_field" value="all_fields" />
            <div class='input-group'>
                <label for='q' class='sr-only'>Search Online Content</label>
                <input type="text" name="q" id="q" class="search_q q form-control" />

                <span class='input-group-btn'>
                    <button type='submit' class='btn btn-primary search-btn' id='search'>
                        <span class="blacklight-icons"><i class="fa fa-search"></i></span>
                    </button>
                </span>
            </div>
        </form>
      </div>
    </div>
</div>

<a class="btn btn-primary daoGalleryMore" href="https://archives.albany.edu/catalog?utf8=✓&f[<%= @facet_field %>][]=<%= @searchID %>"><i class="fa fa-search"></i> More...</a>

</div>

<div class="defaultDaoDisplay">
    <% if document.digital_objects.present? %>
        <%= render_document_partial(document, 'arclight_viewer') %>
        <% elsif document.online_content? %>
          
          <% if document.level == "colleciton" %>
              <%= content_tag(
                :div, '',
                class: 'al-contents',
                data: {
                  arclight: {
                    path: search_catalog_path,
                    name: document.collection_name,
                    access: 'online',
                    view: 'online_contents',
                    search_field: 'within_component'
                  }
                }
              ) %>
              
            <a class="btn btn-primary daoGalleryMore" href="/collections/catalog?utf8=✓&f[collection_sim][]=<%= document.collection_name %>&f[has_online_content_ssim][]=online&q=&search_field=all_fields"><i class="fa fa-search"></i> All Items</a>
        <% else %>
            <%= content_tag(
                :div, '',
                class: 'al-contents',
                data: {
                  arclight: {
                    path: search_catalog_path,
                    parent: document.reference,
                    access: 'online',
                    view: 'online_contents',
                    search_field: 'within_component'
                  }
                }
              ) %>
          
            <a class="btn btn-primary daoGalleryMore" href="/collections/catalog?utf8=✓&f[parent_ssi][]=<%= document.reference %>&f[has_online_content_ssim][]=online&q=&search_field=all_fields"><i class="fa fa-search"></i> All Items</a>
        <% end %>
    <% end %>
</div>