<div class="flex-fill">
<%
# Overridden from Blacklight to add a drop down that allows the user to choose to search w/i the collection or all collections
%>
<%= form_tag search_action_url, method: :get, class: 'search-query-form pr-0 mt-3', role: 'search' do %>
  <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8).merge(f: (search_state.params_for_search[:f] || {}).except(:collection_sim))) %>
  <%# Default to group by collection %>
  <%= hidden_field_tag :group, 'true' %>

  <div class="d-md-flex">
    

    <!-- GW removed within field search -->
    <!-- https://github.com/projectblacklight/arclight/blob/9f32cafc03f162223b179cbfb8d49a36ed2a41a6/app/views/catalog/_search_form.html.erb#L9 -->
    <div class="input-group flex-nowrap">
      <%= hidden_field_tag :search_field, search_fields.first.last %>
      <%= render 'catalog/within_collection_dropdown' %>
      
      <label for="q" class="sr-only"><%= t('blacklight.search.form.search.label') %></label>
      <%
        # Use "autocomplete_path: suggest_index_catalog_path" explicitly so that the RepositoriesController gets the appropriate
        # autocomplete path w/o having to have the search form action be local to the controller (by including Blacklight::Catalog)
      %>
      <%= text_field_tag :q, params[:q], placeholder: t('blacklight.search.form.search.placeholder'), class: "search-q q rounded-0 form-control", id: "q", autofocus: presenter.autofocus?, data: { autocomplete_enabled: presenter.autocomplete_enabled?, autocomplete_path: suggest_index_catalog_path }  %>

      <span class="input-group-append">
        <button type="submit" class="btn btn-primary search-btn" id="search">
          <!-- GW removed 'search'
            <span class="submit-search-text d-none d-lg-inline"><%# t('blacklight.search.form.submit') %></span>-->
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </div>
<% end %>

<div class="search-extra-controls flex-fill">
  <div class='input-group'>

    <%= link_to bookmarks_path, id:'bookmarks_nav' do %>
      <i class="fa fa-bookmark"></i> <span class="bookmarks-label"><%= t('blacklight.header_links.bookmarks') %></span>
      <span class="open-paren">(</span><span data-role='bookmark-counter'><%= current_or_guest_user.bookmarks.count %></span><span class="close-paren">)</span>
    <% end %>

    <%= link_to t('blacklight.header_links.search_history'), blacklight.search_history_path, id:'history_nav' %>



  </div>
</div>
</div>