<% content_for(:sidebar) do %>
  <%= render partial: 'catalog/sidebar', locals: {document: document} %>
<% end %>


<% parents = Arclight::Parents.from_solr_document(document).as_parents %>
<div class='row'>
  <div class='col-md-12'>
    <% if document.digital_objects.present? %>
      <%= content_tag :p, class: "media breadcrumb-item breadcrumb-item-#{parents.length + 3}" do %>
        <span class="media-body al-online-content-icon" aria-hidden="true"><%= blacklight_icon :online %></span>
        <span class="col text-muted">
          <%= t('arclight.views.show.online_content_upper') %>
        </span>
        <%= render_document_partial(document, 'arclight_viewer') %>
      <% end %>
    <% end %>
    <!-- removed tabs -->

    <% if document.children? %>
      <hr/>
      <div id="context-tree-nav" role="navigation" aria-label="Navigate the collection contents" class="hierarchy-nav-wrapper top-children-count-<%= collection_doc(document).number_of_children %>">

        <h4><%= t('ua_arclight.views.show.sidebar.mobile_contents_label') %></h4>
        <!-- Section below will be moved into its own partial later -->
          <!-- replaces generic_context_navigation in arclight_helper so that component show pages only list children instead of full context -->
             <%# raise document.reference %>
             <%= content_tag(
              :div,
              '',
              class: "al-contents child-components children-count-#{document.number_of_children}",
              data: {
                collapse: I18n.t('arclight.views.show.collapse'),
                expand: I18n.t('arclight.views.show.expand'),
                arclight: {
                  level: document.component_level.to_i + 1,
                  path: search_catalog_path(hierarchy_context: 'component'),
                  name: document.collection_name,
                  view: 'child_components',
                  parent: document.reference,
                  directparent: document.reference,
                  originalDocument: document.id,
                  originalParents: [document.reference],
                  eadid: normalize_id(document.eadid),
                  per_page: '100'
                }
              }
            ) %>

      </div>
    <% end %>

  </div>
</div>
