<% content_for(:sidebar) do %>
  <%= render partial: 'catalog/sidebar', locals: {document: document} %>
<% end %>


<% parents = Arclight::Parents.from_solr_document(document).as_parents %>
<div class='row'>
  <div class='col-md-12'>
    <% if document.digital_objects.present? %>
      <%= content_tag :p, class: "media breadcrumb-item breadcrumb-item-#{parents.length + 3}" do %>
        <span class="media-body al-online-content-icon" aria-hidden="true"><%= blacklight_icon :online %></span>
        <span class="col text-muted">
          <%= t('arclight.views.show.online_content_upper') %>
        </span>
        <%= render_document_partial(document, 'arclight_viewer') %>
      <% end %>
    <% end %>
    <!-- removed tabs -->

    <% if document.online_content? and not document.digital_objects.present? %>
      <div class="alert alert-success" role="alert">
        <strong><%= blacklight_icon :online, classes: 'al-online-content-icon' %>
          Online Content
        </strong>
        <p>Some of these materials are <a href="https://archives.albany.edu/catalog?f[record_parent_sim][]=<%= document.id.split("_")[1] %>">available online</a>.</p>
      </div>
      <%# render partial: 'collection_online_contents', locals: { document: document }  %>
    <% end %>

    <% if document.children? %>
      <hr/>
      <div id="context-tree-nav" role="navigation" aria-label="Navigate the collection contents" class="hierarchy-nav-wrapper top-children-count-<%= collection_doc(document).number_of_children %>">

        <h2 class="al-show-sub-heading" id="contents"><%= t('"arclight.views.show.sections.contents') %></h2>
        <!-- Section below will be moved into its own partial later -->
          <!-- replaces generic_context_navigation in arclight_helper so that component show pages only list children instead of full context -->
          <%= children_navigation(document) %>

      </div>
    <% end %>

    </div>


    <div class="col-md-12">
      <hr/>
      <h2 class="sr-only"><%= t'arclight.views.show.access' %></h2>
      <% unless blacklight_config.show.context_access_tab_items.nil? %>
        <h2 class="al-show-sub-heading" id="<%= t('arclight.views.show.sections.using_field').parameterize %>"><%= t('arclight.views.show.sections.using_field') %></h2>

        <div class="row restrictions-row">
          <div class="col-md-12 col-lg-9">
            <% items = blacklight_config.show.context_access_tab_items.select { |i|  fields_have_content?(@document, i) }  %>
            <% if items.length > 1 %>
              <% items.each_with_index do |item, index| %>
                <%= render partial: 'access_contents', locals: { document: @document, field_accessor: item, card_index: index} %>
              <% end %>
            <% else %>
              <% if items.length > 0 %>
                <% items.each_with_index do |item, index| %>
                  <%= render partial: 'access_contents', locals: { document: @document, field_accessor: item, card_index: index} %>
                <% end %>
              <% end %>
              <dl class="row dl-invert">
		<% if @document._source.key?("parent_access_restrict_ssm") %>
                <dt class="blacklight-parent_access_restrict_ssm col-md-3">
                  <%= generic_render_document_field_label(:terms_field, document, field: "accessrestrict_ssm").upcase %>
                </dt>
                <dd class="blacklight-parent_access_restrict_ssm col-md-9">
                  <% @document._source["parent_access_restrict_ssm"].each do |text| %>
                    <p><%= text %></p>
                  <% end %>
                </dd>
		<% end %>
                <dt class="blacklight-parent_access_terms_ssm col-md-3">
                  <%= generic_render_document_field_label(:terms_field, document, field: "userestrict_ssm").upcase %>
                </dt>
                <dd class="blacklight-parent_access_terms_ssm col-md-9">
                  <% @document._source["parent_access_terms_ssm"].each do |text| %>
                    <p><%= text %></p>
                  <% end %>
                </dd>
              </dl>

            <% end %>
          <% end %>
        </div>
        <div class="col-md-12 col-lg-3 mb-3">
          <%= render 'access_links' %>
        </div>
      </div>
      <%= render partial: 'access_options', locals: { document: @document} %>
    </div>

</div>
