<% content_for(:sidebar) do %>
  <%= render partial: 'catalog/sidebar', locals: {document: document} %>
<% end %>


<% parents = Arclight::Parents.from_solr_document(document).as_parents %>
<div class='row'>
  <div class='col-md-12'>
    <% if document.digital_objects.present? %>
      <%= content_tag :p, class: "media breadcrumb-item breadcrumb-item-#{parents.length + 3}" do %>
        <span class="media-body al-online-content-icon" aria-hidden="true"><%= blacklight_icon :online %></span>
        <span class="col text-muted">
          <%= t('arclight.views.show.online_content_upper') %>
        </span>
        <%= render_document_partial(document, 'arclight_viewer') %>
      <% end %>
    <% end %>
    <!-- removed tabs -->

    <% if document.children? %>
      <hr/>
      <div id="context-tree-nav" role="navigation" aria-label="Navigate the collection contents" class="hierarchy-nav-wrapper top-children-count-<%= collection_doc(document).number_of_children %>">

        <h4><%= t('ua_arclight.views.show.sidebar.mobile_contents_label') %></h4>
        <!-- Section below will be moved into its own partial later -->
        <%= content_tag(:div, id: t("arclight.views.show.sections.collection_context_field").parameterize) do %>
          <%= children_navigation(@document) %>
        <% end %>

      </div>
    <% end %>

  </div>
</div>
