<% content_for(:sidebar) do %>
  <%= render partial: 'catalog/sidebar', locals: {document: document} %>
<% end %>

<% parents = Arclight::Parents.from_solr_document(document).as_parents %>
<div class='row'>
  <div class='col-md-12'>
    <% if document.digital_objects.present? %>
      <%= content_tag :p, class: "media breadcrumb-item breadcrumb-item-#{parents.length + 3}" do %>
        <span class="media-body al-online-content-icon" aria-hidden="true"><%= blacklight_icon :online %></span>
        <span class="col text-muted">
          <%= t('arclight.views.show.online_content_upper') %>
        </span>
        <%= render_document_partial(document, 'arclight_viewer') %>
      <% end %>
    <% end %>

    <% if document.online_content? %>
      <div class="alert alert-success" role="alert">
        <strong><%= blacklight_icon :online, classes: 'al-online-content-icon' %>
          Online Content
        </strong>
        <p>Some materials from this collection are <a href="https://archives.albany.edu/catalog?f[collection_number_sim][]=<%= document.id %>">available online</a>.</p>
      </div>
      <%# render partial: 'collection_online_contents', locals: { document: document }  %>
    <% end %>

    <%= render 'collection_context' %>

    <h2 class="al-show-sub-heading" id="contents"><%= t('"arclight.views.show.sections.contents') %></h2>
    <%# render 'collection_contents' %>
    <%= children_navigation(document) %>

    <hr/>
    
    <div class="row">
      <div class="col-md-12">
        <h2 class="sr-only"><%= t'arclight.views.show.access' %></h2>
        <h2 class="al-show-sub-heading" id="<%= t('arclight.views.show.sections.using_field').parameterize %>"><%= t('arclight.views.show.sections.using_field') %></h2>

        <div class="row restrictions-row">
          <div class="col-md-9">
            <% unless blacklight_config.show.context_access_tab_items.nil? %>
              <% items = blacklight_config.show.context_access_tab_items.select { |i|  fields_have_content?(@document, i) }  %>
              <% items.each_with_index do |item, index| %>
                <%= render partial: 'access_contents', locals: { document: @document, field_accessor: item, card_index: index} %>
              <% end %>
            <% end %>
          </div>

          <div class="col-md-3">
            <%= render 'access_links' %>
          </div>
        </div>

        <%= render partial: 'access_options', locals: { document: @document} %>

      </div>
    </div>

  </div>

</div>
