<!-- new UAlbany partial for left side nav for both collection and default levels -->
<div class='row sticky-nav'>
  <div class='col-md-12' id='context'>

    <div class="card">

        <%# ========================== %>
        <%# Collection Overview Nav    %>
        <%# ========================== %>
        <%# Adapted from:%>
        <%#  https://gitlab.oit.duke.edu/dul-its/dul-arclight/-/blob/develop/app/views/catalog/_show_default.html.erb  HT Sean Aery %>
        <%#  https://github.com/projectblacklight/arclight/blob/master/app/views/catalog/_collection_context_nav.html.erb %>

      <div class="title-card card-body">
        <div id="collection-actions" class="actions-wrapper">
          <div class="al-show-actions">
            <div class="sidebar-collection-title">
                <!--<i class="fa fa-archive"></i>-->
                <%= link_to solr_document_path(normalize_id(document.eadid)) do %>
                  <h5 class="collection-name"><%= document.collection_name %></h5>
                <% end %>
                <%= render partial: 'catalog/show_actions/collection_info', locals: { document: collection_doc(document) } %>
            </div>
            <div class="d-flex mt-3">
              <div class="flex-fill">
                <a class="btn btn-primary request-btn"><%= t('ua_arclight.views.show.sidebar.request_label') %></a>
              </div>
            </div>
          </div>
        </div>
      </div>

        <section class="sidebar-scroll-wrapper">
          <nav id="about-collection-nav" aria-label="About the collection">
            <ul class='nav flex-column'>
              <% unless blacklight_config.show.metadata_partials.nil? %>
                <% blacklight_config.show.metadata_partials.each do |item| %>
                  <% next unless fields_have_content?(collection_doc(document), item) %>
                  <li class='nav-item'>
                    <%= link_to t("arclight.views.show.sections.#{item}"),
                      [
                        solr_document_path(normalize_id(document.eadid)),
                        "##{t("arclight.views.show.sections.#{item}").parameterize}"
                      ].join, class: 'nav-link', data: { turbolinks: 'false' }
                    %>
                  </li>

                <% end %>

                <%# Manually adding 'Contents' nav link. We want the link in the sidebar but the %>
                <%# actual 'contents' section is detached from the show.metadata_partials config. %>
                <li class='nav-item'>
                  <%= link_to t("arclight.views.show.sections.contents"),
                      [
                        solr_document_path(normalize_id(document.eadid)),
                        "##{t("arclight.views.show.sections.contents").parameterize}"
                      ].join, class: 'nav-link', data: { turbolinks: 'false' }
                    %>
                </li>

                <%# Manually adding 'using' nav link. We want the link in the sidebar but the %>
                <%# actual 'using' section is detached from the show.metadata_partials config. %>
                <li class='nav-item'>
                  <%= link_to t("arclight.views.show.sections.using_field"),
                      [
                        solr_document_path(normalize_id(document.eadid)),
                        "##{t("arclight.views.show.sections.using_field").parameterize}"
                      ].join, class: 'nav-link', data: { turbolinks: 'false' }
                    %>
                </li>
                
              <% end %>
            </ul>
          </nav>

          

          <%# ========================= %>
          <%# Hierarchy Tree Navigation %>
          <%# ========================= %>
          <% if document.level == 'collection' %>
            <hr/>
            <div id="context-tree-nav" role="navigation" aria-label="Navigate the collection contents" class="hierarchy-nav-wrapper top-children-count-<%= collection_doc(document).number_of_children %> ml-1 mr-1">
              <%= render 'collection_contents' %>
            </div>
          <% elsif document.children? or document.parent_ids.present? %>
            <hr/>
            <div id="context-tree-nav" role="navigation" aria-label="Navigate the collection contents" class="hierarchy-nav-wrapper top-children-count-<%= collection_doc(document).number_of_children %> ml-1 mr-1">
              <%= render 'component_context' %>
            </div>
          <% end %>
        </section>

    </div>

  </div>
</div>