
<% access_content = capture do %>
  <%= render Arclight::MetadataSectionComponent.with_collection(section_names,
              metadata_attr: { layout: Arclight::UpperMetadataLayoutComponent },
              presenter: presenter) %>
<% end %>

<% if access_content.present? %>
  <div id="<%= t('arclight.views.show.sections.access_field').parameterize %>">
    <div class="row">
      <div class="col-md-8">
        <h2 class="al-show-sub-heading"><%= t 'arclight.views.show.sections.access_field' %></h2>
        <%= access_content %>
      </div>
      <div class="col-md-4">
        <h2 class='al-show-sub-heading'>
          <%= t("arclight.views.show.sections.using_field") %>
        </h2>
        <%= render 'catalog/using_header' %>
        <%= render 'catalog/access_options', document: presenter.document %>
      </div>
    </div>
  </div>
<% end %>
